{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_meta_tags %}
    {% block layout_head_meta_tags_friendly_captcha %}
        {% set configNamespace = constant('TeuFriendlyCaptcha\\TeuFriendlyCaptcha::CONFIG_KEY') %}
        {% set active = config('%s.isActive'|format(configNamespace)) %}
        {% set siteKey = config('%s.config.siteKey'|format(configNamespace)) %}
        {% set secretKey = config('%s.config.secretKey'|format(configNamespace)) %}

        {% if active and siteKey and secretKey %}
            {% set deliveryMethod = config('%s.config.deliveryMethod'|format(configNamespace)) %}
            {% set version = config('%s.version'|format(configNamespace)) %}
            {% set polyfill = config('%s.polyfill'|format(configNamespace)) %}

            {% if polyfill %}
                {% set widget = 'widget.polyfilled.min.js' %}
            {% else %}
                {% set widget = 'widget.min.js' %}
            {% endif %}

            {% block layout_head_meta_tags_friendly_captcha_delivery_methods %}
                {% if 'jsdelivr' == deliveryMethod %}
                    {% block layout_head_meta_tags_friendly_captcha_delivery_method_jsdelivr %}
                        <script
                                type="module"
                                src="{{ 'https://cdn.jsdelivr.net/npm/friendly-challenge@%s/widget.module.min.js'|format(version) }}"
                                async
                                defer
                        ></script>
                        <script
                                nomodule
                                src="{{ 'https://cdn.jsdelivr.net/npm/friendly-challenge@%s/%s'|format(version, widget) }}"
                                async
                                defer
                        ></script>
                    {% endblock %}
                {% elseif 'unpkg' == deliveryMethod %}
                    {% block layout_head_meta_tags_friendly_captcha_delivery_method_unpkg %}
                        <script
                                type="module"
                                src="{{ 'https://unpkg.com/friendly-challenge@%s/widget.module.min.js'|format(version) }}"
                                async
                                defer
                        ></script>
                        <script
                                nomodule
                                src="{{ 'https://unpkg.com/friendly-challenge@%s/%s'|format(version, widget) }}"
                                async
                                defer
                        ></script>
                    {% endblock %}
                {% endif %}
            {% endblock %}

            {% block layout_head_meta_tags_friendly_captcha_custom_style_file %}
                {% set themeName = config('%s.config.theme.name'|format(configNamespace)) %}

                {% if 'custom' === themeName %}
                    {% set customStyleFile = config('%s.config.theme.customStyleFile'|format(configNamespace)) %}

                    {% if customStyleFile %}
                        {# @see https://docs.friendlycaptcha.com/#/theme?id=using-your-own-stylesheet #}
                        <link rel="stylesheet" id="frc-style" href="{{ customStyleFile|escape }}">
                    {% endif %}
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {{ parent() }}
{% endblock %}
