{% block sw_settings_captcha_select_v2_google_recaptcha_v2 %}
    <sw-container
            v-if="currentValue.friendlyCaptcha.isActive"
            class="sw-settings-captcha-select-v2__friendly-captcha"
    >
        {% block sw_settings_captcha_select_v2__friendly_captcha_headline %}
            {# we do not need to translate this #}
            <h2>Friendly Captcha</h2>
        {% endblock %}

        {% block sw_settings_captcha_select_v2__friendly_captcha_description %}
            {# selling point #}
            <p class="sw-settings-captcha-select-v2__description sw-settings-captcha-select-v2__friendly-captcha-introduction">
                {{ $tc('sw-settings-basic-information.captcha.label.friendlyCaptchaIntroduction') }}
            </p>

            {# how it works #}
            <h4>{{ $tc('sw-settings-basic-information.captcha.label.friendlyCaptchaDescriptionLabel') }}</h4>
            <p class="sw-settings-captcha-select-v2__description sw-settings-captcha-select-v2__friendly-captcha-description">
                {{ $tc('sw-settings-basic-information.captcha.label.friendlyCaptchaDescription') }}
            </p>
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_version %}
            {# administrators cannot change the version. it's only being displayed for troubleshooting with the friendly captcha support #}
            <sw-text-field
                    v-model:value="currentValue.friendlyCaptcha.version"
                    name="friendlyCaptchaVersion"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaVersion')"
                    disabled
                    copyable
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_site_key %}
            <sw-text-field
                    v-model:value="currentValue.friendlyCaptcha.config.siteKey"
                    name="friendlyCaptchaSiteKey"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaSiteKey')"
                    placeholder="7B184A8B06196C64"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaSiteKey')"
                    copyable
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_secret_key %}
            <sw-text-field
                    v-model:value="currentValue.friendlyCaptcha.config.secretKey"
                    name="friendlyCaptchaSecretKey"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaSecretKey')"
                    placeholder="15B6BDC105C5015ED3A35CF7A25C8E1DBA15B3D60242B357FF24B50F85"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaSecretKey')"
                    copyable
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_credentials_test %}
            <sw-button-process
                    class="sw-field"
                    v-model:value="credentialsValid"
                    :isLoading="isValidatingCredentials"
                    :disabled="!validKeyLengths()"
                    @click="validateApiCredentials"
            >
                {{ $tc('sw-settings-basic-information.captcha.label.validateApiCredentials') }}
            </sw-button-process>
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_theme_name %}
            <sw-single-select
                    v-model:value="currentValue.friendlyCaptcha.config.theme.name"
                    :options="themeOptions"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaTheme')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_theme_custom_style_file %}
            <sw-text-field
                    v-if="'custom' === currentValue.friendlyCaptcha.config.theme.name"
                    v-model:value="currentValue.friendlyCaptcha.config.theme.customStyleFile"
                    name="friendlyCaptchaCustomStyleFile"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaCustomStyleFile')"
                    placeholder="https://webshop.com/custom.css"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaCustomStyleFile')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_start_mode %}
            <sw-single-select
                    v-model:value="currentValue.friendlyCaptcha.config.startMode"
                    :options="startModeOptions"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaStartMode')"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaStartMode')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_delivery_method %}
            <sw-single-select
                    v-model:value="currentValue.friendlyCaptcha.config.deliveryMethod"
                    :options="deliveryMethodOptions"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaDeliveryMethod')"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaDeliveryMethod')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_polyfill %}
            <sw-checkbox-field
                    v-model:value="currentValue.friendlyCaptcha.config.polyfill"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaPolyfill')"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaPolyfill')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_endpoint_selection %}
            <sw-single-select
                    v-model:value="currentValue.friendlyCaptcha.config.endpointSelection"
                    :options="endpointSelectionOptions"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaEndpointSelection')"
                    :help-text="$tc('sw-settings-basic-information.captcha.help.friendlyCaptchaEndpointSelection')"
            />
        {% endblock %}

        {% block sw_settings_captcha_select_v2_friendly_captcha_endpoint_fallback %}
            <sw-checkbox-field
                    v-if="currentValue.friendlyCaptcha.config.endpointSelection === 'europe'"
                    v-model:value="currentValue.friendlyCaptcha.config.endpointSelectionFallback"
                    :label="$tc('sw-settings-basic-information.captcha.label.friendlyCaptchaEndpointSelectionFallback')"
            />
        {% endblock %}


        {% block sw_settings_captcha_select_v2_friendly_captcha_conflict_alert %}
            {# this will show if any captcha is active alongside friendly captcha #}
            <sw-alert
                    v-if="potentialCaptchaConflict()"
                    variant="info"
                    appearance="default"
                    :showIcon="true"
                    :closable="false">
                {{ $tc('sw-settings-basic-information.captcha.label.friendlyCaptchaConflictNotice') }}
            </sw-alert>
        {% endblock %}
    </sw-container>

    {% block sw_settings_captcha_select_v2_friendly_captcha_gdpr_alert %}
        {# this will show if any captcha by google is active #}
        <sw-alert
                v-if="!captchaSettingsAreGdprCompliant()"
                variant="warning"
                appearance="default"
                :showIcon="true"
                :closable="false">
            {{ $tc('sw-settings-basic-information.captcha.label.friendlyCaptchaGdprComplianceNotice') }}
        </sw-alert>
    {% endblock %}

    {% parent %}
{% endblock %}
