{% block component_captcha_friendly_captcha %}
    {% set configNamespace = constant('TeuFriendlyCaptcha\\TeuFriendlyCaptcha::CONFIG_KEY') %}
    {% set siteKey = config('%s.config.siteKey'|format(configNamespace)) %}
    {% set secretKey = config('%s.config.secretKey'|format(configNamespace)) %}

    {% if siteKey and secretKey %}
        {% set deliveryMethod = config('%s.config.deliveryMethod'|format(configNamespace)) %}

        {% set friendlyCaptchaOptions = {
            startMode: config('%s.config.startMode'|format(configNamespace)),
            language: app.request.locale|slice(0, 2),
            endpointSelection: config('%s.config.endpointSelection'|format(configNamespace)),
            endpointSelectionFallback: config('%s.config.endpointSelectionFallback'|format(configNamespace)),
            deliveryMethod: config('%s.config.deliveryMethod'|format(configNamespace)),
            polyfill: config('%s.config.polyfill'|format(configNamespace))
        } %}

        {% block component_friendly_captcha_form_row %}
            <div class="form-row friendly-captcha" id="teuFriendlyCaptchaWrapper">
                {% block component_friendly_captcha_form_group %}
                    <div class="form-group {% if additionalClass %}{{ additionalClass }}{% else %}col-md-6{% endif %}">
                        {% block component_friendly_captcha_widget %}
                            {% set themeName = config('%s.config.theme.name'|format(configNamespace)) %}
                            <div
                                    {# @see https://docs.friendlycaptcha.com/#/theme?id=dark-mode #}
                                    class="frc-captcha{% if 'dark' === themeName %} dark{% endif %}"
                                    {# this needs to be set with the html api or friendly captcha will issue a warning in the console. #}
                                    data-sitekey="{{ siteKey }}"
                                    data-friendly-captcha-plugin="true"
                                    data-friendly-captcha-plugin-options='{{ friendlyCaptchaOptions|json_encode }}'
                            >
                                {# this div cannot be self closing because the form rows would break #}
                            </div>
                        {% endblock %}
                        <noscript>
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: 'warning',
                                heading: 'captcha.noscriptHeadline'|trans|sw_sanitize,
                                content: 'captcha.noscriptNotice'|trans|sw_sanitize
                            } %}
                        </noscript>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
